body{
  background: grey;
}
.smain{
    width: 800px;
    height: 600px;
    background: #859C80;
    margin-left: 300px;

}
.worl{
   max-width:800px ; 
  min-height:100px ;  
    background: #93C2CC;
    padding-left: 40px;
    padding-top: 1px;
}
.menu-top{
  max-width: 800px;
  height: 40px;
  background: blue;
}

.menu{
    width: 133.3px;
    height: 40px;
    background: #B9DAE1;
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding-top: 10px;
   
}
.menu span a{
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}
.menu span a:hover{
  color: #4f1c1c;
}

.war{
  width: 800px;
  height: 460px;
  background: #859C80;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.war h1{
  color: rgb(57, 57, 121);
}
.T_p{
  margin-top: 30px;
}