.main{
    width: 1200px;
    min-height:800px;
    background: #5C4A02;
    margin-left: 200px;
    float: left;
    box-sizing: border-box;
}
    
.demos{
    width: 800px;
    height: 150px;
    background: #7E6000;
    margin-left: 200px;
    margin-bottom: 30px;
    color: white;
    font-size: 25px;
    float: left;
    box-sizing: border-box;
    margin-top: 50px;
    padding-top: 58px;
    padding-left: 300px;
}




.menus{
    width: 1200px;
    min-height: 50px;
    background-color: #7E6000;
    text-align: center;
    box-sizing: border-box;
    float: left;
    
}



.menu {
    float: left;
    box-sizing: border-box;
    margin-left: 100px;
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
}

#last {
    margin-right: 100px;
}

.menu:hover {
    color: gray;
    cursor: pointer;
}


.bottom {
    width: 900px;
    min-height: 600px;
    background: white;
    float: left;
    box-sizing: border-box;
    margin-left: 150px;
    margin-bottom: 125px;
    margin-top: 50px;
}


.bottom span {
    font-size: 30px;
    margin-left: 270px;
    color: #7E6000;
}


.m-boxes {
    width: 200px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    background: #7E6000;
    margin-left: 74px;
    margin-top: 200px;
}

