.main{
    width: 1200px;
    height:800px;
    background: #5C4A02;
    margin-left: 200px;
}
.demos{
    width: 750px;
    height: 100px;
    background: #7E6000;
    margin-left: 230px;
}
.menus{
    width: 1200px;
    height: 50px;
    background-color: #7E6000;
    text-align: center;
}
.lorems{
    width: 800px;
    height: 600px;
    background: rgb(255, 255, 255);
    margin-left: 200px;
   margin-top: 20px;
}
.won{
    width: 150px;
    height: 150px;
    background: #7E6000;
    margin-top: 100px;
    margin-left: 70px;  
    float: left; 
    color: white;
    text-align: center;
}
.win{
    width: 150px;
    height: 150px;
    background: #7E6000;
    margin-top: 100px;
    margin-left: 70px;  
    float: left; 
    color: white;
    text-align: center;
}
.wen{
    width: 150px;
    height: 150px;
    background: #7E6000;
    margin-top: 100px;
    margin-left: 70px;  
    float: left; 
    color: white;
    text-align: center;
}

